//
//var timestamp = Date.parse(new Date());
// timestamp = timestamp / 1000;
// console.log("当前时间戳为：" + timestamp);
function prettyDate(date) {
  console.log(date)
  const week = new Array("日", "一", "二", "三", "四", "五", "六")
  const year = date.getFullYear()
  const month = date.getMonth() + 1
  const day = date.getDate()
  const hour = date.getHours()
  const minute = date.getMinutes()
  const second = date.getSeconds()
  var curDate = getDate();
  const cyear = curDate.getFullYear()
  const cmonth = curDate.getMonth() + 1
  const cday = curDate.getDate()
  const chour = curDate.getHours()
  const cminute = curDate.getMinutes()
  const csecond = curDate.getSeconds()
  if (cyear === year && cmonth === month && cday===day){
    return [hour, minute, second].map(formatNumber).join(':')
  }
  let timestamp = Date.parse(getDate(cyear + "/" + cmonth + "/" + cday));
  timestamp = timestamp/1000;
  let timestamp7 = timestamp-7*24*60*60;
  if (Date.parse(date)>timestamp7*1000){
    return week[date.getDay()] + " " + [hour, minute, second].map(formatNumber).join(':')
  }
  return [year, month, day].map(formatNumber).join('/') + ' ' + [hour, minute, second].map(formatNumber).join(':')
}
module.exports = {
  prettyDate: prettyDate
}